@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

		* {
			margin: 0;
			padding: 0;
		}
		nav {
			background-color: #ffffff;
			height: 3em;
			padding: 2em;
		}
		nav .left {
			font-family: Roboto Black;
			float: left;
			font-size: 40pt;

		}
		nav .left a{
			text-decoration: none;
			color: black;
		}
		nav .right{
			font-family: Roboto Thin;
			float: right;
			margin-right: 3em;
		}
		nav .right a {
			text-decoration:none;
			color: black;
		}
		nav .right ul {
			list-style-type: none;

		}
		nav .right ul li {
			display: inline;
			margin-right: 2em;
		}
		nav .right ul li button {
			padding: 1em 2em;
			border: 1px solid transparent;
			background-color: #48a9dc;
			border-radius: 0.5em;
			color: white;
			font-family: Roboto Black !important;
		}
		body {
			background-color: #48a9dc;

		}
		section {
			color: white;
			width: 100%;
			text-align: center;
			margin: 0 auto;
			position: absolute;
			top: 30%;
		}
		section h1 {
			font-family: Roboto Black;	
			font-size: 42pt;
			margin-bottom: .4em;
		}
		section p {
			font-family: Roboto Thin;
			font-size: 16pt;
			width: 50%;
			margin: 0 auto;
		}
		section button{
			font-family: Roboto Black;	
			font-size: 12pt;
			display: block;
			margin: 0 auto;
			width: 20%;
			margin-top: 1em;
			padding: 1em 2em;
			border: 1px solid transparent;
			background-color: #fff776;
			border-radius: 0.5em;
			color: black;
		}
		section.home {
			color: white;
			width: 100%;
			text-align: center;
			margin: 0 auto;
			position: absolute;
			top: 30%;
		}
		section.home h1 {
			font-family: Roboto Black;	
			font-size: 60pt;
			margin: 0;
		}
		section.home p {
			font-family: Roboto Thin;
			font-size: 18pt;
			width: 100%;
		}
		section.home button {
			font-family: Roboto Black;	
			font-size: 30pt;
			margin-top: 1em;
			padding: 1em 2em;
			width: 40%;
			border: 1px solid transparent;
			background-color: #fff776;
			border-radius: 0.5em;
			color: black;
		}
		img {
			width: 20%;
			margin-bottom: 2em;
			border-radius: 50%;
			margin-top: -3em;
		}
		input, textarea {
			display: block;
			width: 40%;
			border-radius: 4px;
			border: 1px solid #cecece;
			margin:0 auto;
			margin-bottom: 1em;
		}
		input {
			padding: 1em;
		}
		textarea{
			padding: 1em;
			height: 10em
		}